canvas {
    border: 1px solid #d3d3d3;
    background-color: #161616;
}
@font-face {
    font-family: PressStart;
    src: url("Press_Start_2P/PressStart2P-Regular.ttf");
  }
body{
    text-align: center;
    background-color: black;
    margin-top:3%;
    font-family: PressStart;
}

button{
    font-size:30px;
    height:50px;
    background-color: white;
    font-family: PressStart;

}
.hidden
{
    display:none;
}
#timer{
    color:white;

}
#GameScene{
    display:none;
    justify-content: center;
}
canvas{


}
label{
    padding-top:20px;
    color:white
}
progress::-webkit-progress-value {background-color: rgb(41, 255, 41) !important;}
progress::-webkit-progress-bar {background-color: rgb(204, 26, 26); width: 100%;}
progress{background-color: rgb(41, 255, 41) !important;}
progress::-moz-progress-bar  {background-color: rgb(204, 26, 26); width: 100%;}




footer {

    color: white;
    width:100%;
    padding-top:8px;
    text-align: center;
    position:fixed;
    bottom:0;
    margin-bottom:1%;
    z-index:15;

}