canvas {
    border: 1px solid #d3d3d3;
    background-color: #161616;
}
@font-face {
    font-family: PressStart;
    src: url("Press_Start_2P/PressStart2P-Regular.ttf");
  }
#startGameButton{
    width:100%;
}
.Easy{
    background-color:#b1ffb1;
    border: solid rgb(255, 174, 108)  5px;
}
.Medium{
    background-color:#feffcb;
    border: solid rgb(255, 174, 108) 5px;

}
.Hard{
    background-color:#ff9084;
    border: solid red 5px;

}
#startButton{
    animation-fill-mode: both;
    margin-top:-5%;
    animation-delay:0.2s;
}
#startButton2{
    animation-fill-mode: both;
    animation-delay:0.4s;
}
#startButton3{
    animation-fill-mode: both;
    animation-delay:0.6s;
}
#startButton4{
    animation-fill-mode: both;
    animation-delay:0.8s;
}
#startButton5{
    animation-fill-mode: both;
    animation-delay:1s;
}
.Expert{
    background-color:#60008a;
    color:white;
    border: solid red 5px;

}
.Impossible{
    background-color:#000000;
    color:white;
    border: solid rgb(183, 0, 255) 5px;
    box-shadow: 0 0 25px #a200ff;

}
#inGameBackButton{
    width:250px;
    background-color: rgba(255,255,255,0.6);
    position:absolute;
    bottom:10px;
    right:10px;
}
#LevelsTitle{
    font-size:300%;
    color:red;
    background-color:white;
    width:20%;
}
.Difficulties{
    width:400px;
    font-size:50px;
}
html{
    
    min-height: 100%;
    
}


#AboutContainer{
    text-align: center;
    justify-content: center;
    height:auto;
    margin-top: 0;
}
.developerImages{
    padding-right:2%;
    padding-left:2%;
}
#ced{
    margin-left:2.5%;
}
#gabriel{
    margin-left:-1%;
}

#referencesContainer{
    text-align: center;
    margin-top:25%;
}

#GodModeButton{
    background-image: (url("gameSprites/popcatOPEN.png"));
    width:15px;
    font-size:15px;
    padding-left:0;
    padding-right:0;
    height:30px;
    position:absolute;
    background-color: rgba(0,0,0,1);
    color:rgba(0,0,0,0.5);
    top:0;
    right:0;
}
#references1{
    background-color: rgba(255, 187, 187, 0.767);
    border-radius: 25px;
    border:solid 25px rgba(0,0,0,0);
    height:auto;
    width:80%;
    text-align: left;
}
#messageDatBlue{
    margin-top:4%;
    background-color: rgba(77, 148, 255, 0.767);
    border-radius: 25px;
    border:solid 25px rgba(0,0,0,0);
    height:auto;
    width:30%;

}
#references2{
    background-color: rgba(255, 187, 187, 0.767);
    border-radius: 25px;
    border:solid 25px rgba(0,0,0,0);
    height:auto;
    width:80%;
    text-align: left;
}
#references3{
    background-color: rgba(255, 187, 187, 0.767);
    border-radius: 25px;
    border:solid 25px rgba(0,0,0,0);
    height:auto;
    width:80%;
    text-align: left;
}
#playTesters{
    background-color: rgba(137, 255, 108, 0.767);
    border-radius: 25px;
    border:solid 25px rgba(0,0,0,0);
    height:auto;
    width:80%;
    text-align: left;

}
body{
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    min-height:100%;
    background-repeat: no-repeat;
    text-align: center;
    background-color: rgba(3,2,4);
    margin-top:3%;
    font-family: PressStart;
}
#TitleImage{
    width:50%;
    animation-duration:2s;    
    margin-top: 3%;

    padding-bottom:10%;
}
#YouWinTitle{
    color:#66ff66;
    font-size:800%;
    animation-duration: 3s;
}

#ZoomAnimationOn {
    animation-duration:3s;
}
button{
    font-size:30px;
    height:60px;
    min-width: 20%;
    width:auto;
    background-color: white;
    font-family: PressStart;
    border: radius 5px;
}
#ProblemLoading{
    animation-delay: 10s;
    animation-fill-mode: both;
}
#HitCounter{
    color:white;
}
button:hover{
    transform:scale(1.15, 1.15);
}
#TipBar{
    margin-top:5%;
    padding-bottom:2%;
    font-weight:50;
    font-family: PressStart;
    color:white;
    font-size:medium;
    animation-delay:1s;
    animation-duration:4s;
    animation-fill-mode: both;
}
.hidden
{
    display:none;
}
#timer{
    color:white;

}
#GameScene{
    display:none;
    justify-content: center;
}

#HowToPlayScene{
    display:none;
    font-family: PressStart;
    text-align: center;
}


.HelpParts{
    font-family: 'Ubuntu', sans-serif;

    border: white 5px solid;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:0.15%;
    padding-top:0.15%;

}

#TitleArt{
    width:550px;
    position:absolute;
    bottom: 0px;
    right:0px;
}
#TitleArt:hover{
    transform:scale(1.15, 1.15);
    
      
}

label{
    padding-top:20px;
    color:white
}

#GameOverScene{
    color:white;
    display:none;
}
#GameOverText{
    color:white;
    margin-top:5%;
    font-size:600%;
    font-family: PressStart;

}
 
progress::-webkit-progress-value {background-color: rgb(41, 255, 41) !important;}
progress::-webkit-progress-bar {background-color: rgb(204, 26, 26); width: 100%;}
progress{background-color: rgb(41, 255, 41) !important;}
progress::-moz-progress-bar  {background-color: rgb(204, 26, 26); width: 100%;}

#levelButton{
    animation-fill-mode: both;
    margin-top:-5%;
    animation-delay:0.2s;
}
#howButton{
    animation-fill-mode: both;
    animation-delay:0.4s;
}
#aboutButton{
    animation-fill-mode: both;
    animation-delay:0.6s;
}
#HealthInfo{
    position:absolute;
    top:11px;
    left:10px;
}

#Levels{
    display:none;
}
footer {

    color: white;
    width:100%;
    padding-top:8px;
    text-align: center;
    position:fixed;
    bottom:0;
    margin-bottom:1%;
    z-index:15;

}

.HelpParts{
    font-size:100%;
    width:60%;
    margin-left:5%;
    background-image: linear-gradient(to right, rgba(0,0,0,0) , rgba(200, 70, 70, 0.3));
    border: 10px solid rgba(0,0,0,0);   
    text-align:left;
}

#Help1{
    margin-top:4%;
}   

.HelpText{
    margin-left:3%;
    font-size:2.5vh;

}
#gridHelp{
    position:absolute;
    top:35%;
    right:3%;
}
#HowToPlayTitle{
    width:35%;
    position:absolute;
    top:20%;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */

  }
#StartedGame{
    display:none;
    
}
#LoadingScreen{
    color:white;
    font-family:PressStart;
    justify-content:center;

}
#LoadingText{
    font-size:x-large;

}

#reloadButton{
    animation-delay:2s;
    animation-duration:4s;
    animation-fill-mode: both;
}
.slidecontainer{
    position:absolute;
    bottom:110px;
    left:-46vw;
}
  .slider {

    transform: rotate(270deg);

    -webkit-appearance: none; 
    appearance: none;
    width: 200px;
    height: 20px; 
    background: #d3d3d3;
    outline: none; 
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1; 
  }
  .effect{
      background-color: orange;
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 20px; 
    height: 20px;
    background: red; 
    cursor: pointer; /* Cursor on hover */
  
}
  
  .slider::-moz-range-thumb {
    width: 25px; 
    height: 25px; 
    background: #ff41d6; 
    cursor: pointer; 
  }
.w3-animate-show{
    animation: show 0.8s;
    animation-fill-mode:forwards;
}

.popcat {

    position: absolute;
    top:0;
    right:0;
    display: inline-block;
}
.popcat .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.popcat:hover .img-top {
    display: inline;
}