canvas {
    border: 1px solid #d3d3d3;
    background-color: #161616;
}
@font-face {
    font-family: PressStart;
    src: url("Press_Start_2P/PressStart2P-Regular.ttf");
  }
#startGameButton{
    width:100%;
}
body{
    text-align: center;
    background-color: black;
    margin-top:3%;
    font-family: PressStart;
}
#TitleImage{
    width:50%;
    animation-duration:2s;
}

button{
    font-size:30px;
    height:50px;
    width:20%;
    background-color: white;
    font-family: PressStart;

}
#HitCounter{
    color:white;
}
button:hover{
    transform:scale(1.15, 1.15);
}
#TipBar{
    margin-top:5%;
    font-weight:50;
    font-family: PressStart;
    color:white;
    font-size:medium;
    transition: delay 3s;
    animation-delay:1s;
    animation-duration:4s;
    animation-fill-mode: both;
}
.hidden
{
    display:none;
}
#timer{
    color:white;

}
#GameScene{
    display:none;
    justify-content: center;
}
canvas{


}
#HowToPlayScene{
    display:none;
    font-family: PressStart;

}
label{
    padding-top:20px;
    color:white
}
#GameOverScene{
    color:white;
    display:none;
}
#GameOverText{
    color:white;
    margin-top:5%;
    font-size:600%;
    font-family: PressStart;

}
progress::-webkit-progress-value {background-color: rgb(41, 255, 41) !important;}
progress::-webkit-progress-bar {background-color: rgb(204, 26, 26); width: 100%;}
progress{background-color: rgb(41, 255, 41) !important;}
progress::-moz-progress-bar  {background-color: rgb(204, 26, 26); width: 100%;}

#levelButton{
    margin-top:-5%;
}
#HealthInfo{
    position:absolute;
    top:11px;
    left:10px;
}

#Levels{
    display:none;
}
footer {

    color: white;
    width:100%;
    padding-top:8px;
    text-align: center;
    position:fixed;
    bottom:0;
    margin-bottom:1%;
    z-index:15;

}

.slidecontainer {
    width: 100%; /* Width of the outside container */

  }
#StartedGame{
    display:none;
    
}
#LoadingScreen{
    color:white;
    font-family:PressStart;
    justify-content:center;

}
#LoadingText{
    font-size:x-large;

}
  /* The slider itself */
  .slider {
    position:absolute;
    bottom:120px;
    right:0px;
    transform: rotate(270deg);

    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 200px; /* Full-width */
    height: 20px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #ff41d6; /* Green background */
    cursor: pointer; /* Cursor on hover */
  
}
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #ff41d6; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }